main{
    section{
        color: white;
    }
    section:not(:last-child){
        margin-block-end: 2rem;
    }
}

.cards-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    align-items: center;
    overflow-x: scroll;
    padding: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cards-container::-webkit-scrollbar{
    display: none;
}
.cards{
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: .5rem;
    text-align: center;
    img{
        width: 200px;
        border-radius: 10px;
        grid-row: 1;
    }
    h3{
        grid-row: 2;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.cards:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 992px){
    .cards-container{
        padding-block-end: 3rem;
        -ms-overflow-style: auto;
        scrollbar-width: auto;
    }
    .cards-container::-webkit-scrollbar{
        display: block;
    }
    .cards{
        img{
            width: 300px;
        }
        h3{
            width: 300px;
        }
    }
}
