#main-nav-container{
    background-color: #000;
    padding-block: 1rem;
    border-block-end: 1px solid #3a3a3a;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-brand{
    color: white;
    text-decoration: none;
    h1{
        font-size: 1.5rem;
        margin: 0;
    }
}
.nav-link{
    display: flex;
    gap: 1rem;
    color: white;
}
.nav-link:hover{
    color: white;
}




.main-nav-search-item{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.main-nav-search-item::placeholder{
    color: white;
}
.main-nav-search-item:focus, .main-nav-search-item:hover{
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid white;
}



