.account-container{
    display: grid;
    gap: 2rem;
}
.account-form-container{
    width: 75%;
    justify-self: center;
}
.form-group{
    margin-block-start: 1.5rem;
}
.account-item{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.account-item::placeholder{
    color: white;
}
.account-item:focus, .account-item:hover{
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid white;
}
.avatar{
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
.button-group{
    display: grid;
    gap: 1rem;
}
@media screen and (min-width: 992px){
    .account-form-container{
        width: 25%;
    }
    .button-group{
        display: flex;
        gap: 1rem;
    }
}
