.account-container{
    display: grid;
    gap: 2rem;
}
.account-form-container{
    width: 75%;
    justify-self: center;
}
.form-group{
    margin-block-start: 1rem;
}

.account-item{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.account-item::placeholder{
    color: white;
}
.account-item:focus, .account-item:hover{
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid white;
}
.account-btn{
    background-color: black;
    color: white;
    border-color: white;
}
.account-btn:hover{
    background-color: black;
    color: white;
    border-color: white;
}

@media screen and (min-width: 992px){
    .account-form-container{
        width: 25%;
    }
}
