// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Navigation
@import 'navigation';

// Menu
@import 'menu';

// Layout
@import 'layout';

// Content
@import 'content';

body{
    background-color: #1E1E1E;
}

.not-on-mobile{
    display: none;
}

.notification-alert{
    position: fixed;
    top: 5rem;
    left: 25%;
    width: 50%;
}

@media screen and (min-width: 992px){
    .mobile-only{
        display: none;
    }
    .not-on-mobile{
        display: block;
    }
}
