// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Navigation
@import 'navigation';

// Menu
@import 'menu';

// Layout
@import 'layout';

// Content
@import 'content';

body{
    background-color: #1E1E1E;
}

.not-on-mobile{
    display: none;
}

.notification-alert{
    position: fixed;
    top: 5rem;
    left: 25%;
    width: 50%;
}

.btn{
    background-color: black;
    color: white;
    border-color: white;
}
.btn:hover{
    background-color: black;
    color: white;
    border-color: white;
}
.pagination{
    justify-self: center;
}
.pagination > li > a,
.pagination > li > span,
.disabled > .page-link{
    color: white;
    background-color: black;
    border-color: white;
}
.pagination > li > a:hover,
.pagination > li > a:focus{
    background-color: #3a3a3a;
    color: white;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #3a3a3a;
    border-color: white;
}

@media screen and (min-width: 992px){
    .mobile-only{
        display: none;
    }
    .not-on-mobile{
        display: block;
    }
}
