#main-content{
    padding-inline: 0;
}
.item-container{
    margin-block-start: -2rem;
    display: grid;
    grid-template-rows: 50vh 200px auto;
    grid-template-columns: 1fr;
    justify-items: center;
}
.item-image-background{
    width: 100%;
    background-position: center;
    background-size: cover;
    grid-row: 1;
    grid-column: 1;
    z-index: -1;
}
.item-poster{
    grid-row: 2;
    grid-column: 1;
    height: 400px;
    margin-block-start: -200px;
    border: 1px solid black;
}
.item-infos{
    grid-row: 3;
    grid-column: 1;
    display: grid;
    margin-block-start: 1rem;
    text-align: center;
}
.item-icons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    a{
        color: white;
        font-size: 1.5rem;
    }
}
.item-genre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.item-overview{
    margin-block-start: 1rem;
}
#item-comments-container{
    text-align: center;
    h2{
        margin-block-end: 1rem;
    }
    a{
        color: white;
        text-decoration: none;
        font-style: italic;
    }
    a:hover{
        text-decoration: underline;
    }
    .form-group{
        width: 75%;
        margin-inline: auto;
        margin-block-end: 1rem;
    }
    .comments-container{
        display: grid;
        gap: 2rem;
        margin-block-end: 2rem;
        .alert{
            text-align: start;
        }
        .avatar{
            margin-inline-end: 1rem;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
        }
        .comment-infos{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: start;
        }
        p{
            margin: 0;
        }
        .comment-user-date{
            display: flex;
            gap: 1rem;
            span{
                font-style: italic;
            }
        }
        .comment-report{
            display: flex;
            justify-content: start;
            gap: 1rem;
        }
    }
}

@media screen and (min-width: 992px){
    .main-layout{
        gap: 0;
    }
    #item-comments-container{
        .form-group{
            text-align: start;
        }
    }
    .comments-container{
        width: 75%;
        margin-inline: auto;
    }
}
